DATABASE_URL="postgresql://postgres@localhost:5432/muddle?schema=public"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
BASE_URL="http://localhost:5173"

MEILISEARCH_HOST=""
MEILISEARCH_API_KEY=""
MEILISEARCH_API_KEY_UID=""